In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({ "Nombre":["Maria","pablo","Raquel","Dario","Ana"],
                "Edad": [22,35,58,25,28],
                "Sexo": ["male","male","female","male","female"],
                "Peso": [70.5,68.9,60.2,68.5,66.2]})

In [4]:
df

   Nombre  Edad    Sexo  Peso
0   Maria    22    male  70.5
1   pablo    35    male  68.9
2  Raquel    58  female  60.2
3   Dario    25    male  68.5
4     Ana    28  female  66.2

In [11]:
df["Peso"]

0    70.5
1    68.9
2    60.2
3    68.5
4    66.2
Name: Peso, dtype: float64

In [8]:
df["Peso"].max()

70.5

In [12]:
df["Peso"].min()

60.2

In [13]:
df.describe()

            Edad       Peso
count   5.000000   5.000000
mean   33.600000  66.860000
std    14.467204   4.027779
min    22.000000  60.200000
25%    25.000000  66.200000
50%    28.000000  68.500000
75%    35.000000  68.900000
max    58.000000  70.500000